extends ../layouts/userCommon
block content
    if u
        p= u.name
    table.table.table-striped.table-dark
        thead
            tr
                th(scope='col') Name User
                th(scope='col') Name Book
                th(scope='col') Date Borrow
                th(scope='col') Status
                th(scope='col') Complete
        tbody
            each trans in transactions
                tr
                    td= trans.userName
                    td= trans.bookTitle
                    td= trans.dateCurrent
                    if trans.isComplete
                        td= trans.dateComplete  
                            span  complete
                    else if !trans.isComplete
                        td transaction not completed

                    if trans.isComplete
                        td(style='color:green;')
                            | Completed
                    else if !trans.isComplete
                        td(style='color:Tomato;')
                            | No return Completed